.searchBar{
    display: flex;
    align-items: center;
    border-radius: 25px;
    overflow: hidden;
    background-color: white;
}

#navSearchText{
    display: none;
}

#navSearchButton{
    display: flex;
    padding: 4px 15px;
    cursor: pointer;    
    border: none;
    height: 100%;
    width: 5vw;
    background: none;
    align-items: center;
    justify-content: center;
}

#navSearchButton:hover{
    filter:brightness(0.90);
}

#searchIconId{
    height: 3vh;
    width: auto;
}

@media(min-width: 768px){
    .searchBar{
        width: 30vw;
        border: 1px solid black;
        margin-right: 1vw;
    }

    #navSearchText{
        width: 75%;
        display: inline-block;
        flex: 1;
        padding: 4px 15px;
        border: none;
        outline: none;
        font-size: 1rem;
        color: black;
    }

    #navSearchText::placeholder{
        color: darkgray;
    }

    #navSearchButton{
        width: 25%;
        border-left: 1px solid black;
        background-color: lightblue;
    }
}