.passwordResetForm {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.passwordResetForm label {
  margin-left: 5px;
  align-self: flex-start;
  display: block;
  margin-bottom: 8px;
  font-size: 0.9rem;
  color: #555;
  font-weight: 600;
}

.passwordResetForm input {
  width: 100%;
  padding: 12px 15px;
  border: 2px solid #eee;
  border-radius: 8px;
  font-size: 16px;
  box-sizing: border-box;
  transition: border-color 0.2s;
  background-color: #fafafa;
  margin-bottom: 16px;
}

.passwordResetForm input:focus {
  outline: none;
  border-color: lightblue;
  background-color: white;
}

.passwordResetForm button {
  width: 100%;
  padding: 14px;
  background-color: lightblue;
  color: black;
  font-weight: 700;
  border: none;
  border-radius: 8px;
  font-size: 1rem;
  cursor: pointer;
  margin-top: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  transition: transform 0.1s, box-shadow 0.1s;
}

.passwordResetForm button:active {
  transform: scale(0.95);
}

.passwordResetForm button:hover {
  transform: scale(1.1);
}
